{
    "presets": [
      ["@babel/preset-env", 
        {
            "targets": {
                "chrome": "67"
            },
            // "useBuiltIns": "usage"
        }
      ]
    ],
    "plugins": [
      ["@babel/plugin-proposal-decorators", { "legacy": true }],
      ["@babel/plugin-syntax-dynamic-import"]
    ]
}